@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    /* border: 1px solid black; */
}

li {
    list-style: none;
}

body {
    width: 980px;
    margin: 2em auto;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav span {
    font-weight: 700;
    font-size: 3rem;
}

nav ul {
    display: flex;
    align-items: flex-end;
}