@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    text-decoration: none;
    /* border: 1px solid black; */
    user-select: none;
    -webkit-user-drag: none;
}

li {
    list-style: none;
}

body {
    width: 980px;
    margin: 2em auto;
    display: flex;
    flex-direction: column;
}

nav {
    display: flex;
    justify-content: space-between;
}

nav span {
    font-weight: 700;
    font-size: 3rem;
}

.navMenu {
    display: flex;
    align-items: flex-end;
    font-size: 1.5rem;
    gap: 2em;
}

.navMenu__link:visited {
    color: black;
}

a:hover {
    color: darkblue;
    font-weight: 700;
}